* {
  margin: 0;
  padding: 0;
}
#app {
    height: 100vh;
    background-color: #eee;
}

.login-wrap {
  margin-top:0px;
  width: 430px;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.func-wrap {
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: space-between;
    padding: 130px 70px 70px 70px;
    box-sizing: border-box;
}
.el-form{
    width:100%;
}

#terminal {
  width: 70%;
}

.func-panel {
  width: 28%;
}

.xterm-screen{
    padding: 2px;
    box-sizing: border-box;
}

.dc{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .login-wrap{
        margin-top:0px !important;
    }
    .func-panel{
        display:none;
    }
    #terminal{
        width:100% !important;
    }
    .func-wrap{
        height:calc(100vh - 120px) !important;
        padding: 20px !important;
    }
}
